@charset "UTF-8";

/* @font-face {
    font-family: "gameFont";
    src: url("../fonts/PressStart2P-Regular.ttf");
} */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 83.3%;
}

body{
    background-color: #000;
    max-height: 100%;
    display: flex;
    overflow: hidden;
    /* background-size: 300%;
    background-position: 0%;
    background-image: linear-gradient(135deg, #000, #949494);
    animation: bgcolor ease-in-out 10s infinite; */
}

/* @keyframes bgcolor {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
} */

/*ESTILO DO SCROLLBAL GERAL*/
::-webkit-scrollbar{ /*Altera o estilo da barra*/
    /* width: 10px; */
    box-shadow: 0px 0px 10px #00000085 inset;
}
/* ::-webkit-scrollbar-track{
    background: #00000050;
} */
::-webkit-scrollbar-thumb{ /*Altera o estilo da parte móvel da barra*/
    box-shadow: 0px 0px 15px #000000 inset;
    border-radius: 50px;
    border: 1px solid #000;
}

/*SETION*/
section{
    /* position: fixed; */
    width: 25%;
    height: 100vh;
    text-align: center;
}

section p{
    margin-top: 15px;
    width: 100%;
    color: rgb(148, 148, 148);
}

#foto{
    margin-top: 50px;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 150px #949494;
}

#redes{/*DIV REDES*/
    position: relative;
    width: 100%;
    min-height: 50px;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
}

#redes ul{
    position: absolute;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

i{
    position: relative;
    width: 60px;
    color: rgb(148, 148, 148);
    padding: 10px;
    transition: .2s;
}

/* 
.qrlist{
    display: none;
    position: relative;
    top: -155px;
    left: -100px;
}

.qrcode{
    width: 160px;
    border-radius: 10px;
}

#redes ul li:hover .qrlist{
    display: block;
} */


.fa-facebook:hover{
    color: #3b5998;
    border-bottom: solid 5px #3b5998;
}

.fa-instagram:hover{
    color: #9e0b4d;
    border-bottom: solid 5px #9e0b4d;
}

.fa-whatsapp:hover{
    color: #34af23;
    border-bottom: solid 5px  #34af23;
}

.fa-linkedin:hover{
    color: #0e76a8;
    border-bottom: solid 5px #0e76a8;
}

.fa-github:hover{
    color: #fff;
    border-bottom: solid 5px #fff;
}/*DIV REDES*/

#menu{
    position: relative;
    width: 100%;
    display: block;
}

#menu a{
    display: block;
    color: rgb(148, 148, 148);
    margin: 5px auto 5px auto;
    padding: 10px;
    width: 35%;
    min-width: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

#menu a:hover{
    color: rgb(200, 200, 200);
    transition: .2s;
    border-left: solid 5px;
}
/*SETION*/

/*ASIDE*/
aside{
    position: relative;
    width: 75%;
    max-height: 100vh;
    color:#000;
    background: #fff;
    box-shadow: 0px 0px 100px #00000085 inset;
    font-size: 15pt;
    transition: all .5s ease;
    /* background-image: linear-gradient(135deg, #000, #94949490); */
}

h1{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 3.5rem;
}

.subT{
    width: 100%;
    height: auto;
    font-size: 3rem;
    text-align: center;
    margin: 25px auto;
}

p{
    font-size: 1.6rem;
}

/*SOBRE*/
#sobre{
    height: 100vh;
    box-shadow: 0px 0px 100px #00000085 inset;
}

#sobre .descPessoal{
    width: 100%;
    height: calc(100vh - 150px);
    overflow: auto;
    padding:  0px 100px 50px;
}

#sobre .subT{
    width: 100%;
    /* font-family: "gameFont"; */
    border: none;
}

#sobre .descPessoal p{
    text-indent: 100px;
    text-align: justify;
    margin: 30px 0 20px 0;
}
/*SOBRE*/

/*TECNOLOGIAS*/
#tecnologias{
    display: none;
    height: 100vh;
    box-shadow: 0px 0px 100px #00000085 inset;
}

#techs{
    display: none;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}

#techs a{
    width: 23%;
    max-height: 60px;
    text-align: center;
    padding: 10px;
    transition: .5s;
    margin: 5px;
}

#techs a:hover{
    cursor: pointer;
}

#techs a[onclick="ide()"]{
    color: #0075B8;
    box-shadow: 0px -5px 0px #0075B8 inset;
}

#techs a[onclick="html()"]{
    color: #D74A24;
    box-shadow: 0px -5px 0px #D74A24 inset;
}

#techs a[onclick="css()"]{
    color: #3491CB;
    box-shadow: 0px -5px 0px #3491CB inset;
}

#techs a[onclick="js()"]{
    color: #EFD81D;
    box-shadow: 0px -5px 0px #EFD81D inset;
}

/* #techs a[onclick="ide()"]:hover{
    color: #fff;
    box-shadow: 0px -60px 1px #000 inset;
}

#techs a[onclick="html()"]:hover{
    color: #fff;
    box-shadow: 0px -60px 1px #D74A24 inset;
}

#techs a[onclick="css()"]:hover{
    color: #fff;
    box-shadow: 0px -60px 1px #3491CB inset;
}

#techs a[onclick="js()"]:hover{
    color: #000;
    box-shadow: 0px -60px 1px #EFD81D inset;
} */

#ide, #html, #css, #js{
    width: 100%;
    height: calc(100vh - 208px);
    padding: 0px 100px 50px;
    overflow: auto;
    text-align: justify;
}

#ide p, #html p, #css p, #js p{
    text-indent: 100px;
}

#ide{/*IDE*/
    box-shadow: 0px 0px 100px #0075B885 inset;
}/*IDE*/

/*ESTILO DO SCROLLBAL #IDE*/
#ide::-webkit-scrollbar{ /*Altera o estilo da barra*/
    /* width: 10px; */
    box-shadow: 0px 0px 10px #0075B885 inset;
}
#ide::-webkit-scrollbar-thumb{ /*Altera o estilo da parte móvel da barra*/
    box-shadow: 0px 0px 15px #0075B8 inset;
}

#html, #css, #js{/*HTML, CSS, JS*/
    display: none;
}/*HTML, CSS, JS*/

/*ESTILO DO SCROLLBAL #HTML*/
#html::-webkit-scrollbar{ /*Altera o estilo da barra*/
    /* width: 10px; */
    box-shadow: 0px 0px 10px #D74A2485 inset;
}
#html::-webkit-scrollbar-thumb{ /*Altera o estilo da parte móvel da barra*/
    box-shadow: 0px 0px 15px #D74A24 inset;
}

/*ESTILO DO SCROLLBAL #CSS*/
#css::-webkit-scrollbar{ /*Altera o estilo da barra*/
    /* width: 10px; */
    box-shadow: 0px 0px 10px #3491CB85 inset;
}
#css::-webkit-scrollbar-thumb{ /*Altera o estilo da parte móvel da barra*/
    box-shadow: 0px 0px 15px #3491CB inset;
}

/*ESTILO DO SCROLLBAL #JS*/
#js::-webkit-scrollbar{ /*Altera o estilo da barra*/
    /* width: 10px; */
    box-shadow: 0px 0px 10px #EFD81D85 inset;
}
#js::-webkit-scrollbar-thumb{ /*Altera o estilo da parte móvel da barra*/
    box-shadow: 0px 0px 15px #EFD81D inset;
}
/*TECNOLOGIAS*/

/*PROJETOS*/
#projetos{
    display: none;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 100px #00000085 inset;
}

.projetos{
    width: 100%;
    height: calc(100vh - 150px);
    padding: 0px 100px 50px;
    overflow: auto;
}

#projetos .subT{
    width: 100%;
    /* font-family: "gameFont"; */
    border-top: none;
}
/*PROJETOS*/

/*CURRÍCULUM*/
#curriculum{
    display: none;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 100px #00000085 inset;
}

.curriculum{
    width: 100%;
    height: calc(100vh - 150px);
    padding: 0px 100px 50px;
    overflow: auto;
}

#curriculum .subT{
    width: 100%;
    /* font-family: "gameFont"; */
    border-top: none;
}

/* .partesCurr{
    margin: 25px 0 50px 0;
} */

#pdf{
    position: absolute;
    top: 56px;
    right: 130px;
    z-index: 1;
}

.fa-file-pdf-o{
    color: #949494;
    padding: 0px;
    transition: all ease .2s;
}

.fa-file-pdf-o:hover{
    color: #ff000099;
    box-shadow: 0px 0px 50px #949494;
    background-color: #94949445;
}
/*CURRÍCULUM*/
/*ASIDE*/

/*FOOTER*/
footer{
    clear: both;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(148, 148, 148);
    text-align: center;
    padding: 21px;
    position: relative;
    display: none;
}/*FOOTER*/