@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

body{
    background-color: #000;
    max-height: 100%;
    display: flex;
    overflow: hidden;
    /* background-size: 300%;
    background-position: 0%;
    background-image: linear-gradient(135deg, #000, #949494);
    animation: bgcolor ease-in-out 10s infinite; */
}

/* @keyframes bgcolor {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
} */

/*SETION*/
section{
    /* position: fixed; */
    width: 25%;
    height: 100vh;
    text-align: center;
}

section p{
    margin-top: 15px;
    width: 100%;
    color: rgb(148, 148, 148);
}

#foto{
    margin-top: 50px;
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 150px #949494;
}

#redes{/*DIV REDES*/
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 0;
}

#redes ul{
    position: absolute;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

i{
    position: relative;
    width: 40px;
    color: rgb(148, 148, 148);
    padding: 10px;
    transition: .2s;
}

/* 
.qrlist{
    display: none;
    position: relative;
    top: -155px;
    left: -100px;
}

.qrcode{
    width: 160px;
    border-radius: 10px;
}

#redes ul li:hover .qrlist{
    display: block;
} */


.fa-facebook:hover{
    color: #3b5998;
    border-bottom: solid 5px #3b5998;
}

.fa-instagram:hover{
    color: #9e0b4d;
    border-bottom: solid 5px #9e0b4d;
}

.fa-whatsapp:hover{
    color: #34af23;
    border-bottom: solid 5px  #34af23;
}

.fa-linkedin:hover{
    color: #0e76a8;
    border-bottom: solid 5px #0e76a8;
}

.fa-github:hover{
    color: #fff;
    border-bottom: solid 5px #fff;
}/*DIV REDES*/

#menu{
    position: relative;
    width: 100%;
    display: block;
}

#menu a{
    display: block;
    color: rgb(148, 148, 148);
    margin: 5px auto 5px auto;
    padding: 10px;
    width: 35%;
    min-width: 130px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
    border: none;
    cursor: pointer;
}

#menu a:hover{
    color: rgb(200, 200, 200);
    transition: .2s;
    border-left: solid 5px;
}
/*SETION*/

/*ASIDE*/
aside{
    position: relative;
    width: 75%;
    max-height: 100vh;
    overflow: auto;
    /* border-radius: 10px; */
    color:#949494;
    /* background-image: linear-gradient(135deg, #000, #94949490); */
    background: #fff;
    box-shadow: 25px -25px 100px #00000075 inset;
    box-sizing: border-box;
    padding: 50px;
    /* margin: 50px 50px 50px 0; */
    text-transform: uppercase;
    font-size: 15pt;
}

h1{
    position: relative;
    left: -50px;
    top: -50px;
    width: 100%;
    padding: 50px;
    background: #000;
    /* margin-bottom: 20px; */
    text-align: center;
    font-size: 35pt;
}

.subT{
    display: block;
    font-size: 25pt;
    text-align: center;
    border-top: solid 3px #949494;
    border-bottom: solid 3px #949494;
}

/*TECNOLOGIAS*/
#techs{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#techs a{
    width: 25%;
    text-align: center;
    padding: 10px;
}

#techs a:hover{
    /* border-bottom: solid 5px #949494; */
    transition: .2s;
    cursor: pointer;
}

#techs a[onclick="ide()"]:hover{
    color: #000;
    border-bottom: solid 5px #000;
}

#techs a[onclick="html()"]:hover{
    color: #D74A24;
    border-bottom: solid 5px #D74A24;
}

#techs a[onclick="css()"]:hover{
    color: #3491CB;
    border-bottom: solid 5px #3491CB;
}

#techs a[onclick="js()"]:hover{
    color: #EFD81D;
    border-bottom: solid 5px #EFD81D;
}

/*
#D74A24 - HTML
#3491CB - CSS
#EFD81D - JS
*/

#ide{/*IDE*/
    position: relative;
}/*IDE*/

#html{/*HTML*/
    display: none;
}/*HTML*/

#css{/*CSS*/
    display: none;
}/*CSS*/

#js{/*JS*/
    display: none;
}/*JS*/
/*TECNOLOGIAS*/

/*CURRÍCULUM*/
#curriculum{
    display: none;
}

.partesCurr{
    margin: 20px 0 20px 0;
}

#pdf{
    position: absolute;
    top: 56px;
    left: 130px;
}

.fa-file-pdf-o{
    color: #949494;
    padding: 0px;
    transition: all ease .2s;
}

.fa-file-pdf-o:hover{
    color: #ff000099;
    box-shadow: 0px 0px 50px #949494;
    background-color: #94949445;
}
/*CURRÍCULUM*/

/*PROJETOS*/
#projetos{
    display: none;
}
/*PROJETOS*/

/*SOBRE*/
#sobre{
    display: none;
}
.descPessoal p{
    text-indent: 100px;
    text-align: justify;
    margin: 30px 0 20px 0;
}
/*SOBRE*/

#html{/*HTML*/
    display: none;
}/*HTML*/

#css{/*CSS*/
    display: none;
}/*CSS*/

#js{/*JS*/
    display: none;
}/*JS*/

/*ASIDE*/

/*FOOTER*/
footer{
    clear: both;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(148, 148, 148);
    text-align: center;
    padding: 21px;
    position: relative;
    display: none;
}/*FOOTER*/